.body {
  background-image: url("/photo/top.jpeg");
  background-size: cover;
  background-position:center;
  height: 852px;
}

.container {
  width: 350px;
  margin: 0 auto;

}

header {
  height: 80px;
  margin-top: 30px;
}

.header-left {
  float:left;
  margin-top: 20px;
}

.header-right {
  float:right;
  margin-top: 30px;
  padding-right: 10px;
}

.header-right h2{
  color: #EE9441;
}