.background {

  background-size: cover;
  background-position:center;
  height: 852px;
}

.mein-wrapper {
  text-align: center;
}

.heading {
  width: 90%;
}

.heading h2 {
  color: white;
  background-color: #EE9441;
  line-height: 60px;
  font-weight: normal;

}

.formbox {
  width: 90%;
  background-color: rgba(248, 200, 138, 0.7);
  padding-top: 70px;
  margin-top: -31px;
  height: auto;
}

.form-title {
  color: black;
  
}

.form {
  margin: 20px 0;
}

input {
  width: 80%;
  height: 30px;
}


